

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <i class="navbar-brand" >
            <div >
                <img src="../assets/images/Captura.JPG" class="rounded" >
            </div> 
         </i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="panel">
            <div class="username">
              <h3>Alexis Duque</h3>
              
              <div id="container-avatar">
                <div id="badge">5</div>
                <img src="https://hemiplegic-funding.000webhostapp.com/Alexis-Duque-MyWeb/images/peril.png" />
             <span class="entypo-menu"></span>    
             
           
             </div>
            </div>
          </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Mexico <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Colombia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chile</a>
            </li>
            
          </ul>
          
        </div>
      </nav>
    